@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    font-family: 'Sora', sans-serif;
}

.my-gradient {
    background: linear-gradient(224deg, theme('colors.primary2') 15%, theme('colors.primary3') 34%, theme('colors.primary4') 58%, theme('colors.primary5') 77%, theme('colors.primary2') 96%);
}

.my-gradient-text {
    background: linear-gradient(224deg, theme('colors.primary2') 15%, theme('colors.primary3') 34%, theme('colors.primary4') 58%, theme('colors.primary5') 77%, theme('colors.primary2') 96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my-gradient-bord {
    background: 
      linear-gradient(theme('colors.my-gray2'), theme('colors.my-gray2')) padding-box,
      linear-gradient(224deg, theme('colors.primary2') 15%, theme('colors.primary3') 34%, theme('colors.primary4') 58%, theme('colors.primary5') 77%, theme('colors.primary2') 96%) border-box;
}

.my-gradient-bord-black {
    background: 
      linear-gradient(theme('colors.my-black'), theme('colors.my-black')) padding-box,
      linear-gradient(224deg, theme('colors.primary2') 15%, theme('colors.primary3') 34%, theme('colors.primary4') 58%, theme('colors.primary5') 77%, theme('colors.primary2') 96%) border-box;
}

:root {
    --animation-distance: 10%;
}
  
@keyframes myAnimation {
    0% {
      opacity: .3;
      transform: translate3d(0, var(--animation-distance), 0);
    }
    100% {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}
  
.my-animation-in-up {
    animation: myAnimation .5s ease-out both;
    transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    will-change: opacity, transform;
}

.animation-lg {
    --animation-distance: 20px;
}

.animation-md {
    --animation-distance: 4%;
}
  
.slide-enter-active {
    animation: slide-in .5s forwards;
}

.slide-leave-active {
    animation: slide-out .5s forwards;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(-2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-2rem);
    }
}