@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    font-family: 'Sora', sans-serif;
}

.my-gradient {
    background: linear-gradient(224deg, theme('colors.primary2') 15%, theme('colors.primary3') 34%, theme('colors.primary4') 58%, theme('colors.primary5') 77%, theme('colors.primary2') 96%);
}

.my-gradient-text {
    background: linear-gradient(224deg, theme('colors.primary2') 15%, theme('colors.primary3') 34%, theme('colors.primary4') 58%, theme('colors.primary5') 77%, theme('colors.primary2') 96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my-gradient-bord {
    background: 
      linear-gradient(theme('colors.my-gray2'), theme('colors.my-gray2')) padding-box,
      linear-gradient(224deg, theme('colors.primary2') 15%, theme('colors.primary3') 34%, theme('colors.primary4') 58%, theme('colors.primary5') 77%, theme('colors.primary2') 96%) border-box;
    display: inline-block;
}